body {
  background-color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 3px;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}


.bold {
  text-decoration: bold;
}

.red {
  color: rgb(255, 0, 0);
}

.blue {
  color: rgb(0, 0, 255);
}

.green {
  color: rgb(0, 255, 0);
}

.white {
  color: rgb(255, 255, 255);
}

.lblue {
  color: rgb(102, 178, 255);
}

.orange {
  color: rgb(255, 128, 0);
}
